*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  min-width: 320px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
header {
  background-image: url("img/headerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.followUs {
  padding: 1.5em 0;
  font-weight: bold;
  font-size: 1.15em;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    li {
      display: inline-block;
      margin-left: 40px;
      color: #9190a5;
    }

    a {
      position: relative;
      z-index: 1;

      &::before {
        background-color: transparent;
        position: absolute;
        display: block;
        content: "";
        width: 25px;
        height: 25px;
        z-index: -1;
        border-radius: 50%;
        top: -30%;
        right: -25%;
        transition: 250ms;
      }

      &:hover::before {
        position: absolute;
        display: block;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #c313b7;
        z-index: -1;
        border-radius: 50%;
        top: -30%;
        right: -25%;
      }
    }
  }
}

.mainNav {
  background-color: #081624;
  box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 2em 1.5em;
  position: relative;

  .mainLogo {
    max-width: 200px;
  }

  /* HAMBURGER */
  .hamburger {
    padding: 0.5em 0.5em 0.4em;
    cursor: pointer;
    margin-left: auto;
    position: relative;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 2.5em;
      font-weight: bold;
      position: relative;

      &:hover {
        color: #c313b7;
      }

      &::after {
        position: absolute;
        content: url("img/arrowDown.png");
        display: block;
        right: -25px;
        top: -10%;
      }

      &:hover::after {
        position: absolute;
        content: url("img/arrowDownColor.png");
        display: block;
        right: -25px;
        top: -10%;
      }
    }
  }

  h3 {
    color: #fff;

    span {
      cursor: pointer;

      &:hover {
        color: #c313b7;
      }
    }
  }
}

.reviews {
  color: #fff;
  padding: 4em;

  h1 {
    font-size: 3em;
  }

  h3 {
    font-style: italic;

    span {
      cursor: pointer;

      &:first-child {
        margin-right: 1em;
      }

      &:nth-child(2) {
        color: #c313b7;
        margin-left: 1em;
      }
    }
  }
}

/* GAMES */
.games {
  background-image: linear-gradient(45deg, #501755 0%, #2d1854 100%);
  padding: 10em 0 0;

  ul {
    display: flex;
    flex-direction: column;
    max-width: 1187px;
    margin: 0 auto;
  }

  li {
    display: flex;
    margin: 2em 0;
  }

  .colored {
    color: #c313b7;
  }
}

.gamesImg {
  min-width: 375px;
}

.gamesText {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  justify-content: space-between;
  position: relative;

  h3 {
    color: #fff;
  }

  .rating {
    position: absolute;
    right: 0;

    h3 {
      color: #68647d;
      text-transform: uppercase;

      span:first-child {
        color: #fff;
        font-size: 40px;
        margin-left: 10px;

        span:first-child {
          color: #c313b7;
        }
      }
    }
  }

  h1 {
    color: #fff;
  }

  p {
    color: #68647d;
    font-weight: bold;
    word-spacing: 4px;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: url("img/doubleArrowColor.png");
      top: 10%;
      left: 100px;
    }
  }
}

.numPage {
  padding: 2em 0 5em;

  h2 {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    color: #fff;
  }

  .active {
    color: #c313b7;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid #c313b7;
      top: -20%;
      left: -25%;
    }
  }
}

/* SUBSCRIBE */
.subscribe {
  background-image: linear-gradient(to right, #3e0f3d 0%, #1c0f3b 100%);
  padding: 6em 0 2em;
  margin: 0 auto;
  text-align: center;

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
  }

  form {
    margin: 5em 0;
  }

  .email {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #9b91a6;
    padding: 1em 0;
    color: #fff;

    &::placeholder {
      color: #9b91a6;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .subscribeBtn {
    padding: 1.75em 4.25em;
    margin-left: 2em;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 10px 10px 2px 0px rgba(176, 27, 165, 1);
    cursor: pointer;
    position: relative;
    border: none;

    &::before {
      position: absolute;
      content: url("img/doubleArrowColor.png");
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
    }
  }
}

/* FOOTER */
footer {
  background-image: linear-gradient(to right, #330d38 0%, #190d36 100%);
}

.footerContent {
  max-width: 1187px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerLeftImg,
.footerRightImg {
  margin-top: -40px;
}

.footerMainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  margin-left: -100px;

  .footerLogo {
    align-self: center;
  }

  .footerNav {
    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin: 0 2em;
    }

    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      position: relative;

      &:hover {
        color: #c313b7;
      }

      &::after {
        position: absolute;
        content: url("img/arrowDown.png");
        display: block;
        right: -25px;
        top: -10%;
      }

      &:hover::after {
        position: absolute;
        content: url("img/arrowDownColor.png");
        display: block;
        right: -25px;
        top: -10%;
      }
    }
  }

  .followUs {
    display: flex;
    justify-content: center;
  }

  p {
    color: #333;
    text-align: center;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1285px) {
  .games {
    .gamesImg {
      max-width: 300px;
    }

    ul {
      max-width: 1000px;
    }
  }

  .footerContent {
    max-width: 90%;
  }
}

@media (max-width: 1130px) {
  .mainNav ul {
    a {
      margin: 0 1.5em;
    }
  }

  .subscribe {
    .subscribeBtn {
      display: block;
      margin: 50px auto;
    }
  }
}

@media (max-width: 1050px) {
  .games {
    padding: 3em 0 0;

    ul li {
      display: flex;
      flex-direction: column;
    }

    .gamesImg {
      max-width: 690px;
      margin: 0 auto;
    }
  }

  .gamesText {
    margin: 25px auto 10px;
    max-width: 700px;
    min-height: 250px;
  }

  .numPage {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  .menuToggler {
    display: none;
  }
}

@media (max-width: 1000px) {
  .mainNav {
    ul {
      display: none;
    }

    h3 {
      margin-left: 50px;
    }

    .menuToggler {
      position: absolute;
      width: 50vw;
      height: 50vh;
      background-color: #fff;
      top: 100%;
      right: 0%;
      z-index: 9999;
      margin-top: 10px;
      background-image: url("img/menuTogglerBg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;

      ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        li {
          margin: 10px auto;
        }

        a {
          color: #c313b7;
          font-size: 150%;

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }

    .hide {
      display: none;
    }
  }

  .footerContent {
    .footerNav {
      li {
        margin: 0 15px;
      }
    }
  }
}

@media (max-width: 850px) {
  .footerContent {
    .footerLeftImg,
    .footerRightImg {
      display: none;
    }
  }

  .footerMainContent {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0 1em;

    .footerNav {
      text-align: center;
      margin-top: 2em;
    }
  }
}

@media (max-width: 800px) {
  .subscribe {
    h1 {
      max-width: 70%;
      margin: 0 auto;
    }
    .email {
      max-width: 70%;
    }
  }
}

@media (max-width: 750px) {
  .games {
    .gamesImg {
      max-width: 510px;
    }

    .gamesText {
      max-width: 510px;
      min-height: 300px;
    }
  }
}

@media (max-width: 650px) {
  .mainNav h3 {
    display: none;
  }

  .followUs ul {
    li {
      margin-left: 25px;
    }
  }
}

@media (max-width: 575px) {
  .games {
    .gamesImg {
      max-width: 90%;
      min-width: 290px;
    }

    .gamesText {
      max-width: 90%;

      h3,
      h1,
      p,
      a {
        margin: 5px 0;
      }

      .rating {
        display: none;
      }
    }
  }

  .subscribe {
    h1 {
      font-size: 2em;
    }
  }

  .menuToggler {
    width: 80vw !important;
  }
}


/* PORTRAIT MODE */
@media (max-height: 500px) {
  .menuToggler {
    width: 90vw !important;
    max-height: 100px;

    ul {
      flex-direction: row !important;
      flex-wrap: wrap;
    }

    li {
      display: inline-block !important;
      margin: 0 auto !important;
    }

    a {
      font-size: 1em !important;
    }
  }
}